Criando Tuplas

In [2]:
# Tupla com parênteses
tupla_numeros = (10, 20, 30)
tupla_numeros

(10, 20, 30)

In [3]:
# Tupla sem parênteses
tupla_nova = 10, 20, 30
tupla_nova

(10, 20, 30)

In [4]:
# Tupla com apenas um elemento
tupla_elemento = 10
tupla_elemento

10

In [5]:
# Tupla vazia
tupla_vazia = ()
tupla_vazia

()

In [17]:
# Função tuple
nova_tupla = tuple('Bruno')
nova_tupla

('B', 'r', 'u', 'n', 'o')

Contando elementos da tupla

In [16]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
tupla_nomes.count('Marlene')
print(tupla_nomes.count('Suely'))
print(tupla_nomes.count('Zezinho'))

0
1

Praticar tuplas

1) Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

In [23]:
# Criando uma tupla
tupla_elementos = 1, 2, 2, 3, 4, 4, 4,5
tupla_elementos

# Utilizando a função count
tupla_elementos.count(4)

# Utilizando com print
print(tupla_elementos.count(4))

3

Dicionário (maps) em Python

In [2]:
# Criando um dicionário
dicio = {'chave': 'valor'}
print(type(dicio))

<class 'dict'>

Praticar dicionários

1) O que acontece em cada sequência de comandos a seguir?

a)

In [28]:
# Mostra o valor da chave
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}
d['bananas']

35

b)

In [29]:
d['pitomba'] = 20
len(d)

4

c)

In [30]:
# Perguntou se pitomba está em d
'pitomba' in d

True

d)

In [32]:
'pears' in d

False

e)

In [33]:
del d['laranjas']
'laranjas' in d

False

Concateação e Repetição

In [36]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]
# Concateando e somando uma lista
print([1, 2] + [3, 4])
# Concateando e somando 2 listas
print(frutas + [6, 7, 8, 9])

# Está multiplancando a lista do zero
print([0] * 4)
# Está repetindo uma lista
print([1, 2, ["oi", "tchau"]]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]